.posterImage__title {
    font-weight: 900;
    font-size: 30px; /* Increased font size */
    margin-bottom: 0.4rem;
    /* text-align: left; */
}

.posterImage__runtime {
    font-size: 2.5rem; /* Increased font size */
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 3rem;
    font-size: 1.2rem; /* Increased font size */
}

.posterImage__description {
    font-style: italic;
    font-size: 1.2rem; /* Increased font size */
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}
